<!--<ul class="nav">-->
  <!--<li *ngFor="let route of routes">-->
    <!--<a routerLink="{{route.path}}" routerLinkActive="current">{{route.title}}</a>-->
  <!--</li>-->
<!--</ul>-->

<li><a routerLink="home">HOME</a></li>
<li><a routerLink="coming-soon">NEW</a></li>
<li><a routerLink="coming-soon">FEATURED</a></li>
<li><a routerLink="coming-soon">BLOG</a></li>
<li><a routerLink="coming-soon">BRAND</a></li>
<li><a routerLink="coming-soon">OFFERS</a></li>
<li><a routerLink="contact">CONTACT</a></li>
