.products-wrapper{
  overflow: hidden;
  padding: 0 20px;
}

.products{
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
}

.products-item{
  flex: none;
  width: 33.33%;
  box-sizing: border-box;
  padding: 0 0 20px 20px;
}
